header {
    min-height: 50;
    min-width: 1920;
    margin-top: -8px;
    margin-left: -8px;
    background-color: rgb(30,	39,	167);
    font-size: xx-large;
    color: rgb(255,	145,	54)
}
p {
    color: rgb(255,	145,	54);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    width: 1200px;
}
button {
    border-color:rgb(255,	145,	54);
    background-color: rgb(255,	145,	54);
    
    color: rgb(30,	39,	167);
    border-radius: 10px;
}